.footerNav{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:hsl(229, 31%, 21%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerNav .menu{
    display: flex;
    align-items: center;
}

.footerNav .menu a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
}

.footerNav .icon img{
    margin-right: 40px;
}
